{% extends 'lessons/authenticated_template.html' %}
{% load static %}


{% block content %}

<section class="hero is-hero-bar">
  <div class="hero-body">
    <div class="level">
      <div class="level-left">
        <div class="level-item"><h1 class="title">Dashboard</h1></div>
      </div>
      <div class="level-right" style="display: none;">
        <div class="level-item"></div>
      </div>
    </div>
  </div>
</section>

<section class="section is-title-bar">
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <ul>
          <li>{{user.username}}</li>
          <li>Dashboard</li>
        </ul>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <div class="buttons is-right">
          <a href="{% url 'lessons:add_lesson' %}" class="button is-primary">
            <span class="icon"><i class="mdi mdi-plus"></i></span>
            <span>Add Lesson</span>
          </a>
          <a href="{% url 'lessons:add_invoice' %}" class="button is-primary">
            <span class="icon"><i class="mdi mdi-plus"></i></span>
            <span>Add Invoice</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section is-main-section">

  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <div class="card tile is-child">
        <div class="card-content">
          <div class="level is-mobile">
            <div class="level-item">
              <div class="is-widget-label"><h3 class="subtitle is-spaced">
                Total Earned
              </h3>
                <h1 class="title">
                  £{{ total_earned }}
                </h1>
              </div>
            </div>
            <div class="level-item has-widget-icon">
              <div class="is-widget-icon"><span class="icon has-text-primary is-large"><i
                  class="mdi mdi-account-multiple mdi-48px"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tile is-parent">
      <div class="card tile is-child">
        <div class="card-content">
          <div class="level is-mobile">
            <div class="level-item">
              <div class="is-widget-label"><h3 class="subtitle is-spaced">
                Hours Taught
              </h3>
                <h1 class="title">
                  {{ hours_taught }}
                </h1>
              </div>
            </div>
            <div class="level-item has-widget-icon">
              <div class="is-widget-icon"><span class="icon has-text-info is-large"><i
                  class="mdi mdi-cart-outline mdi-48px"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tile is-parent">
      <div class="card tile is-child">
        <div class="card-content">
          <div class="level is-mobile">
            <div class="level-item">
              <div class="is-widget-label">
                <h3 class="subtitle is-spaced">Lessons Completed</h3>
                <h1 class="title">{{ user.profile.lesson_set.all|length }}</h1>
              </div>
            </div>
            <div class="level-item has-widget-icon">
              <div class="is-widget-icon"><span class="icon has-text-success is-large"><i
                  class="mdi mdi-finance mdi-48px"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card has-table has-mobile-sort-spaced">
    <header class="card-header">
      <p class="card-header-title">
        <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
        Recent Lessons
      </p>
    </header>
    <div class="card-content">
      <div class="b-table has-pagination">
        <div class="table-wrapper has-mobile-cards">
          <table class="table is-fullwidth is-striped is-hoverable is-sortable is-fullwidth">
            <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Group</th>
              <th>Topic(s)</th>
              <th>Date</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            {% for lesson in user.profile.lesson_set.all|slice:":5" %}
              <tr>
                <td class="is-image-cell">
                  <div class="image">
                    <img src="https://avatars.dicebear.com/v2/initials/{{lesson.student.name}}.svg" class="is-rounded">
                  </div>
                </td>
                <td data-label="Name">{{ lesson.student.name }}</td>
                <td data-label="Group">{{ lesson.student.group_set.all.0 }}</td>
                <td data-label="Topic">{{ lesson.topic }}</td>
                <td data-label="Date">
                  <small class="has-text-grey is-abbr-like" title="Oct 25, 2020">{{lesson.date}}</small>
                </td>
                <td class="is-actions-cell">
                  <div class="buttons is-right">
                    <a class="button is-small is-primary" type="button" href="{% url 'lessons:view_lesson' pk=lesson.pk %}">
                      <span class="icon"><i class="mdi mdi-eye"></i></span>
                    </a>
                    <button class="button is-small is-danger jb-modal" data-target="sample-modal" type="button">
                      <span class="icon"><i class="mdi mdi-trash-can"></i></span>
                    </button>
                  </div>
                </td>
              </tr>
            {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="card has-table has-mobile-sort-spaced">
    <header class="card-header">
      <p class="card-header-title">
        <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
        Recent Invoices
      </p>
    </header>
    <div class="card-content">
      <div class="b-table has-pagination">
        <div class="table-wrapper has-mobile-cards">
          <table class="table is-fullwidth is-striped is-hoverable is-sortable is-fullwidth">
            <thead>
            <tr>
              <th></th>
              <th>Group</th>
              <th>Date</th>
              <th>Total</th>
              <th>Paid</th>
            </tr>
            </thead>
            <tbody>

            {% for invoice in user.profile.invoice_set.all|slice:":5" %}
              <tr>
                <td class="is-image-cell">
                  <div class="image">
                    <img src="https://avatars.dicebear.com/v2/initials/{{invoice.group}}.svg" class="is-rounded">
                  </div>
                </td>
                <td data-label="Group">{{invoice.group}}</td>
                <td data-label="Date">
                  <small class="has-text-grey is-abbr-like" title="Oct 25, 2020">{{invoice.date}}</small>
                </td>
                <td data-label="Total">{{invoice.total}}</td>
                <td data-label="Paid">
                  {% if invoice.is_paid %}
                    <span class="icon"><i class="mdi mdi-check"></i></span>
                  {% else %}
                    <span class="icon"><i class="mdi mdi-close"></i></span>
                  {% endif %}
                </td>
                <td class="is-actions-cell">
                  <div class="buttons is-right">
                    <a class="button is-small is-primary" type="button" href="{% url 'lessons:view_invoice' pk=invoice.pk %}">
                      <span class="icon"><i class="mdi mdi-eye"></i></span>
                    </a>
                    <a class="button is-small is-danger jb-modal" data-target="sample-modal" type="button">
                      <span class="icon"><i class="mdi mdi-trash-can"></i></span>
                    </a>
                  </div>
                </td>
              </tr>
            {% endfor %}


            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</section>

{% endblock %}
