{% extends 'lessons/base_template.html' %}

{% block content %}

    {% if user.is_authenticated %}

      <section class="section">
        <div class="container">
          <h1 class="title is-1">{{ lesson.student }}</h1>
          <p class="subtitle">{{ lesson.date }}</p>
          <br>
          <h3 class="title">Topic(s): {{lesson.topic}}</h3>
          <h3 class="title">Duration: {{lesson.duration_in_hours}} hours</h3>
          <p>{{lesson.report}}</p>

        </div>
      </section>

    {% else %}
      <section class="section">
        <div class="container">
          <h1 class="title">Ooops!</h1>
          <p class="subtitle">
            You need to be logged in to view this page!
          </p>
        </div>
      </section>
    {% endif %}

{% endblock %}
