{% extends 'lessons_new/authenticated_template.html' %}

{% block content %}

<section class="hero is-hero-bar">
  <div class="hero-body">
    <div class="level">
      <div class="level-left">
        <div class="level-item"><h1 class="title">Add Lesson</h1></div>
      </div>
      <div class="level-right" style="display: none;">
        <div class="level-item"></div>
      </div>
    </div>
  </div>
</section>

<section class="section is-title-bar">
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <ul>
          <li>{{user.username}}</li>
          <li>Lessons</li>
          <li>Add</li>
        </ul>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <div class="buttons is-right">
          <a href="{% url 'lessons:view_lessons'%}" class="button is-info">
            <span class="icon"><i class="mdi mdi-keyboard-backspace"></i></span>
            <span>Back to Lessons</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section is-main-section">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        <span class="icon"><i class="mdi mdi-ballot"></i></span>
        New Lesson
      </p>
    </header>
    <div class="card-content">
      <form method="POST" action=''>
        {% csrf_token %}

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Student</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <div class="select">
                  <select name="student" id="student" required>
                    {% for student in user.profile.student_set.all %}
                      <option value="{{ student.id }}">{{student}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">Date</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input type="datetime" data-show-header=false data-date-format="YYYY-MM-DD" name="date" id="date" required>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Duration</label>
          </div>
          <div class="field-body">
            <div class="field is-narrow">
              <div class="control">
                <input class="input" type="number" step=".25" placeholder="Duration" name="duration" id="duration" required>
              </div>
            </div>
          </div>
        </div>

        <hr>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Topic</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" placeholder="Topic" name="topic" id="topic" required>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Report</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <textarea class="textarea" placeholder="How did the lesson go?" name="report" id="report" required></textarea>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="field is-horizontal">
          <div class="field-label">
            <!-- Left empty for spacing -->
          </div>
          <div class="field-body">
            <div class="field">
              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-link" type="submit">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

</section>

<script type="module">
  var options = {}
  // Initialize all input of type date
  var calendars = bulmaCalendar.attach('[type="datetime"]', options);

  // To access to bulmaCalendar instance of an element
  var element = document.querySelector('#id_date');
  if (element) {
    // bulmaCalendar instance is available as element.bulmaCalendar
    element.bulmaCalendar.on('select', function(datepicker) {
      console.log(datepicker.data.value());
    });
  }
</script>
{% endblock %}
