{% extends 'lessons/base_template.html' %}

{% block content %}

    {% if user.is_authenticated %}

      <section class="section">
        <div class="container">
          <h1 class="title">All Invoices</h1>
          <p class="subtitle">Use the search bar to find specific groups.</p>

          <table class="table">
            <thead>
              <tr>
                <th>Date</th>
                <th>Group</th>
              </tr>
            </thead>
            <tbody>
              {% for invoice in invoices %}
              <tr>
                <td>{{ invoice.date }}</td>
                <td>{{ invoice.group }}</td>
                <td><a href="{% url 'lessons:view_invoice' pk=invoice.pk %}">View Invoice</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>
      </section>


    {% else %}
      <section class="section">
        <div class="container">
          <h1 class="title">Ooops!</h1>
          <p class="subtitle">
            You need to be logged in to view this page!
          </p>
        </div>
      </section>
    {% endif %}

{% endblock %}
